{{define "header"}}
<header id="header">
    <div class="container">
        <div class="content">
            <div class="name">
                <h1><a href="index.html">{ Christen Ghaly; }</a></h1>
                <p>Full-Stack Web Developer</p>
            </div>

            <div class="side-menu">
                <ul class="d-flex justify-content-center align-items-center gap-5 d-s-none">	
                    <li><a href="index"><i class="fa-solid fa-house-chimney-window"><span>home</span></i></a></li>

                    <li><a href="/about"><i class="fa-solid fa-address-card"><span>about</span></i></a></li>
                    
                    <li><a href="/projects"><i class="fa-solid fa-list-check"><span>projects</span></i></a></li>
                    
                    <li><a href="/skills"><i class="fa-solid fa-gears"><span>Skills</span></i></a></li>
                    
                    <li><a href="/experiences"><i class="fa-solid fa-user-plus"><span>Experiences</span></i></a></li>
                    
                    <li><a href="https://www.linkedin.com/in/christen-ghaly/" target="_blank"><i class="fa-brands fa-linkedin-in"><span>linkedin</span></i></a></li>

                    <li><a href="/contact"><i class="fa-solid fa-phone"><span>contact</span></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
{{end}}