{{define "experiences"}}
    {{template "base" .}}
{{end}}

{{define "content"}}
<section class="experiences-banner">
    <div class="container">
        <div class="banner-text">
            <h2><i class="fa-solid fa-user-plus"></i>Experience</h2>
        </div> 
    </div>
</section>

<section class="experiences-sec">
    <div class="container">
        <div class="titles-flex">
            <div class="education-title">
                <h3>Education</h3>
            </div>

            <div class="experience-title">
                <h3>Experience</h3>
            </div>
        </div>

        <div class="info-flex" data-aos="flip-right">
            <div class="empty"></div>

            <div class="info-container">
                <div class="info-dot">
                    <img class="experience-dot" src="/static/img/experiences/circle-dot-filled.svg" alt="">
                </div>

                <div class="info-line experience-line">
                    <h4>02/2024 - 04/2025</h4>
                    <hr>
                </div>

                <div class="info-text experience-info-text">
                    <div>
                        <span>Feb. 2024 - Apr. 2025<hr></span>
                        <h3>Web Design Intern</h3>
                        <h4>[ Omnivision Design, Montréal, QC ]</h4>
                        <hr>                                                   
                        <ul>
                            <li>Gaining hands-on experience in web design, front-end development, and UI/UX best practices</li>

                            <li>Collaborating with the design team to create responsive and user-centered digital solutions.</li>

                            <li>Utilizing tools like Figma, and WordPress for web development and content management.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-flex" data-aos="flip-left" data-aos-delay="100">
            <div class="info-container">
                <div class="info-text education-info-text">
                    <div>
                        <span>Feb. 2024 - Apr. 2025<hr></span>
                        <h3>Web Design Specialist</h3>
                        <h4>[ Vanier College, Canada ]</h4>
                    </div>
                </div>

                <div class="info-line education-line">
                    <h4>02/2024 - 04/2025</h4>
                    <hr>
                </div>

                <div class="info-dot">
                    <img class="education-dot" src="/static/img/experiences/circle-dot-filled.svg" alt="">
                </div>
            </div>

            <div class="empty"></div>
        </div>

        <div class="info-flex" data-aos="flip-left" data-aos-delay="200">
            <div class="info-container">
                <div class="info-text education-info-text">
                    <div>
                        <span>[2018 - 2019] & [2021 - 2023]<hr></span>
                        <h3>French Courses</h3>
                        <h4>[ CIMOI, Canada ]</h4>
                    </div>
                </div>

                <div class="info-line education-line">
                    <h4>2021 - 2023</h4>
                    <hr>
                    <h4 style="margin-top: 10px;">2018 - 2019</h4>
                </div>

                <div class="info-dot">
                    <img class="education-dot" src="/static/img/experiences/circle-dot-filled.svg" alt="">
                </div>
            </div>

            <div class="empty"></div>
        </div>

        <div class="info-flex" data-aos="flip-right" data-aos-delay="300">
            <div class="empty"></div>

            <div class="info-container">
                <div class="info-dot">
                    <img class="experience-dot" src="/static/img/experiences/circle-dot-filled.svg" alt="">
                </div>

                <div class="info-line experience-line">
                    <h4>2012 - 2016</h4>
                    <hr>
                </div>

                <div class="info-text experience-info-text">
                    <div>
                        <span>2012 - 2016<hr></span>
                        <h3>Multimedia Designer</h3>
                        <h4>[ Freelance, Egypt ]</h4>
                        <hr>                                                   
                        <ul>
                            <li>Collaborating with clients to create custom multimedia animations and designs.</li>

                            <li>Delivering engaging animations that aligned with storyboards and project specifications.</li>

                            <li>Revising designs based on client feedback to ensure satisfaction and project success.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-flex" data-aos="flip-right" data-aos-delay="400">
            <div class="empty"></div>

            <div class="info-container">
                <div class="info-dot">
                    <img class="experience-dot" src="/static/img/experiences/circle-dot-filled.svg" alt="">
                </div>

                <div class="info-line experience-line">
                    <h4>2009 - 2011</h4>
                    <hr>
                </div>

                <div class="info-text experience-info-text">
                    <div>
                        <span>2009 - 2011<hr></span>
                        <h3>Multimedia Designer</h3>
                        <h4>[ GNSE, Egypt ]</h4>
                        <hr>                                                   
                        <ul>
                            <li>Creating visually appealing and user-friendly animations to support educational and corporate materials.</li>

                            <li>Enhancing content clarity through innovative design techniques.</li>

                            <li>Testing, refining, and delivering animations under tight deadlines.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-flex" data-aos="flip-left" data-aos-delay="500">
            <div class="info-container">
                <div class="info-text education-info-text">
                    <div>
                        <span>2008 - 2009<hr></span>
                        <h3>Certificate in E-Learning</h3>
                        <h4>[ Information Technology Institute, Egypt ]</h4>
                    </div>
                </div>

                <div class="info-line education-line">
                    <h4>2008 - 2009</h4>
                    <hr>
                </div>

                <div class="info-dot">
                    <img class="education-dot" src="/static/img/experiences/circle-dot-filled.svg" alt="">
                </div>
            </div>

            <div class="empty"></div>
        </div>

        <div class="info-flex" data-aos="flip-left" data-aos-delay="600">
            <div class="info-container">
                <div class="info-text education-info-text">
                    <div>
                        <span>2003 - 2007<hr></span>
                        <h3>Bachelor Degree in Computer Science</h3>
                        <h4>[ Computer and Information Helwan University, Egypt ]</h4>
                    </div>
                </div>

                <div class="info-line education-line">
                    <h4>2003 - 2007</h4>
                    <hr>
                </div>

                <div class="info-dot">
                    <img class="education-dot" src="/static/img/experiences/circle-dot-filled.svg" alt="">
                </div>
            </div>

            <div class="empty"></div>
        </div>
    </div>
</section>
{{end}}