{{define "index"}}
    {{template "base" .}}
{{end}}

{{define "content"}}
<section class="main-banner">
    <div class="container">
        <div class="banner-text">
            
        </div> 
        <div class="tools-flex">
            <div class="hexagon">
                <img src="/static/img/index/icons/photoshop.svg" alt="photoshop">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/illustrator.svg" alt="illustrator">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/premiere.svg" alt="premiere">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/figma.svg" alt="figma">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/canva.svg" alt="canva">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/html5.svg" 
                alt="html">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/css3.svg" alt="css">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/scss.svg" alt="scss">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/bootstrap.svg" alt="bootstrap">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/javascript.svg" alt="javascript">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/react.svg" alt="react">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/python.svg" alt="python">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/django.svg" alt="django">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/sqlite.svg" alt="sqlite">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/go.svg" alt="go">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/github.svg" alt="github">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/trello.svg" alt="trello">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/wordpress.svg" alt="wordpress">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/elementor.svg" alt="elementor">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/php.svg" alt="php">
            </div>
            <div class="hexagon">
                <img src="/static/img/index/icons/flask.svg" alt="flask">
            </div>
        </div>
    </div>
</section>

<section class="main-sec">
    <div class="div-margin-bottom about">
        <div class="container">
            <div class="about-flex" data-aos="fade-up">
                <div class="about-img">
                    <img src="/static/img/index/about-img.avif" alt="">
                </div>

                <div class="about-text">
                    <p><img src="/static/img/index/icons/w.svg" alt="">elcome to my portfolio. I’m excited to share my work with you. I specialize in designing and developing elegant, functional websites that make a lasting impact. Please take a moment to explore my projects, and if you’re looking to elevate your online presence, let’s discuss how we can collaborate to create something exceptional. Thank you for visiting.</p>
                    <button><a href="/about">Read More<i class="fa-solid fa-ellipsis"></i></a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="div-margin-bottom projects">
        <div class="container">
            <div class="slides">
                <div class="slide">
                    <img src="/static/img/projects/homedecor/homedecor-screenshot.webp" alt="">
                </div>

                <div class="slide">
                    <img src="/static/img/projects/ricardo/ricardo-screenshot.webp" alt="">
                </div>

                <div class="slide">
                    <img src="/static/img/projects/law/law-screenshot.webp" alt="">
                </div>

                <div class="slide">
                    <img src="/static/img/projects/eatwell/eatwell-screenshot.webp" alt="">
                </div>
                
                <div class="slide">
                    <img src="/static/img/projects/ghibli/ghibli-screenshot.webp" alt="">
                </div>

                <div class="slide">
                    <img src="/static/img/projects/yoga-wp/yoga-screenshot.webp" alt="">
                </div>

                <div class="slide">
                    <img src="/static/img/projects/minecraft-wp/minecraft-screenshot.webp" alt="">
                </div>

                <div class="slide">
                    <img src="/static/img/projects/lifehacker-wp/lifehacher-screenshot.webp" alt="">
                </div>
            </div>

            <div class="projects-btn">
                <button class="more-projects-btn"><a href="/projects">More Projects</a></button>
            </div>
        </div>
    </div>

    <div class="div-margin-bottom contact">
        <div class="container">
            <div class="cta-content">
                <p>Let’s build something great together</p>
                <button><a href="/contact">Contact me <i class="fa-solid fa-envelope-open-text"></i></a></button>
            </div>
        </div>
    </div>

    <div class="experience">
        <div class="container">
            <div class="grid">
                <div class="card">
                    <div class="wire"></div>
                    <div class="text">
                        <p><i class="fa-solid fa-i"></i>specialize in building responsive, user-focused websites that are both functional and visually engaging. Using HTML, CSS, JavaScript, and tools like React, Bootstrap, and SASS, I develop clean, optimized interfaces for seamless performance across all devices.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="wire"></div>
                    <div class="text">
                        <p><i class="fa-solid fa-i"></i>also work with backend tools like Django and Golang, and I manage data with SQLite3. From wireframes to deployment, I’m comfortable with the full development stack and use Git for efficient version control.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="wire"></div>
                    <div class="text">
                        <p><i class="fa-solid fa-w"></i>ith a background in multimedia and animation, I bring creativity and visual storytelling into my code. I aim to create meaningful, engaging web experiences and I’m always learning new tools to improve my work.</p>
                    </div>
                </div>
            </div>

            <div class="experiences-btn">
                <button><a href="/experiences">Education & Experiences</a></button>
            </div>
        </div>
    </div>
</section>
{{end}}

