{{define "projects"}}
    {{template "base" .}}
{{end}}

{{define "content"}}
<section class="projects-banner">
    <div class="container">
        <div class="banner-text">
            <h2><i class="fa-solid fa-list-check"></i>Projects</h2>
        </div>
    </div>
</section>

<section class="projects-sec">
    <div class="container">
        <h3>Front-end Projects</h3>
        <div class="projects-flex">
            <div class="colored-child">
                
            </div>
            <div class="projects-grid">
                <div class="project" data-aos="flip-up">
                    <img src="/static/img/projects/ricardo/ricardo-screenshot.webp" alt="">
                
                    <div class="project-info project-info-fe">
                        <h4>Ricardo</h4>
                        <ul>
                            <li><strong>Languages:</strong> HTML, CSS, JavaScript</li>
                        </ul>
                        <a href="https://ricardo-gray.vercel.app/" target="_blank"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://github.com/ChristenGhaly/Ricardo" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div>

                <div class="project" data-aos="flip-up">
                    <img src="/static/img/projects/homedecor/homedecor-screenshot.webp" alt="">
                    
                    <div class="project-info project-info-fe">
                        <h4>Home Decor</h4>
                        <ul>
                            <li><strong>Languages:</strong> HTML, CSS, JavaScript</li>
                            <li><strong>Libraries:</strong> Bootstrap, AOS Animation, Slick Slider</li>
                            <li><strong>Styling Tools:</strong> SCSS</li>
                        </ul>
                        <a href="https://home-decor-five.vercel.app/" target="_blank"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://github.com/ChristenGhaly/HomeDecor" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div>

                <div class="project" data-aos="flip-up">
                    <img src="/static/img/projects/law/law-screenshot.webp" alt="">
                    
                    <div class="project-info project-info-fe">
                        <h4>Law</h4>
                        <ul>
                            <li><strong>Languages:</strong> HTML, CSS</li>
                            <li><strong>Libraries:</strong> Bootstrap</li>
                        </ul>
                        <a href="https://law-dusky.vercel.app/" target="_blank"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://github.com/ChristenGhaly/Law" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div>

                <div class="project" data-aos="flip-up">
                    <img src="/static/img/projects/eatwell/eatwell-screenshot.webp" alt="">
                    
                    <div class="project-info project-info-fe">
                        <h4>Eat Well</h4>
                        <ul>
                            <li><strong>Languages:</strong> HTML, CSS</li>
                            <li><strong>Libraries:</strong> AOS Animation, FancyBox</li>
                        </ul>
                        <a href="https://eat-well-ten.vercel.app/" target="_blank"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://github.com/ChristenGhaly/EatWell" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div>

                <div class="project" data-aos="flip-up">
                    <img src="/static/img/projects/ghibli/ghibli-screenshot.webp" alt="">
                    <div class="project-info project-info-fe">
                        <h4>Ghibli Movies</h4>
                        <ul>
                            <li><strong>Languages:</strong> HTML, CSS, JavaScript</li>
                            <li><strong>Libraries:</strong> Bootstrap</li>
                        </ul>
                        <a href="https://ghibli-js.vercel.app/" target="_blank"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://github.com/ChristenGhaly/Ghibli-JS" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <h3>CMS Projects</h3>
        <div class="projects-flex">
            <div class="colored-child">
                
            </div>
            <div class="projects-grid">
                <div class="project" data-aos="flip-up">
                    <img src="/static/img/projects/yoga-wp/yoga-screenshot.webp" alt="">

                    <div class="project-info project-info-cms">
                        <h4>Yoga</h4>
                        <ul>
                            <li><strong>Languages:</strong> HTML, CSS, JavaScript, PHP</li>
                            <li><strong>Libraries:</strong> Bootstrap, AOS Animation, </li>
                            <li><strong>CMS:</strong> WordPress</li>
                        </ul>
                        <a href="https://github.com/ChristenGhaly/Yoga-WP" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div>

                <div class="project" data-aos="flip-up" data-aos-delay="200">
                    <img src="/static/img/projects/minecraft-wp/minecraft-screenshot.webp" alt="">

                    <div class="project-info project-info-cms">
                        <h4>Mincraft</h4>
                        <ul>
                            <li><strong>Languages:</strong> HTML, CSS, PHP</li>
                            <li><strong>Libraries:</strong> Slick Slider, AOS Animation, </li>
                            <li><strong>CMS:</strong> WordPress</li>
                        </ul>
                        <a href="https://github.com/ChristenGhaly/Minecraft-WP" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div>

                <div class="project" data-aos="flip-up" data-aos-delay="200">
                    <img src="/static/img/projects/lifehacker-wp/lifehacher-screenshot.webp" alt="">

                    <div class="project-info project-info-cms">
                        <h4>Life Hacker</h4>
                        <ul>
                            <li><strong>Languages:</strong> HTML, CSS, PHP</li>
                            <li><strong>CMS:</strong> WordPress</li>
                        </ul>
                        <a href="https://github.com/ChristenGhaly/LifeHacker-WP" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <h3>Back-end Projects</h3>
        <div class="projects-flex">
            <div class="colored-child">
                
            </div>
            <div class="projects-grid">
                <h4 style="text-align: center;">Coming Soon ...</h4>
                <!-- <div class="project" data-aos="flip-up">
                    <img src="/static/img/projects/forum/1.png" alt="">
                    <div class="project-info project-info-be">
                        <h4>Forum</h4>
                        <ul>
                            <li><strong>Languages:</strong> , , </li>
                            <li><strong>:</strong> </li>
                        </ul>
                        <a href="" target="_blank"><i class="fa-solid fa-eye"></i></a>
                        <a href="" target="_blank"><i class="fa-solid fa-code"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
{{end}}