{{define "skills"}}
    {{template "base" .}}
{{end}}

{{define "content"}}
<section class="skills-banner">
    <div class="container">
        <div class="banner-text">
            <h2><i class="fa-solid fa-gears"></i>Technical Skills</h2>
        </div> 
    </div>
</section>

<section class="skills-sec">
    <div class="container">
        <div class="category">
            <div class="skill-title-flex">
                <div class="title-hr"><hr></div>
                <div class="title"><h3>Design & Creativity</h3></div>
                <div class="title-hr"><hr></div>
            </div>
            <h4>Graphic Design</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/photoshop.svg" alt=""></div>
                        <div><h5>Photoshop</h5></div>
                    </div>
                </div>
                <div class="skill" data-aos="flip-left" data-aos-delay="200">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/illustrator.svg" alt=""></div>
                        <div><h5>Illustrator</h5></div>
                    </div>
                </div>
                <div class="skill" data-aos="flip-left" data-aos-delay="400">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/canva.svg" alt=""></div>
                        <div><h5>Canva</h5></div>    
                    </div>
                </div>
            </div>

            <h4>UI/UX Design</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/figma.svg" alt=""></div>
                        <div><h5>Figma</h5></div>
                    </div>
                </div>
            </div>

            <h4>Video Editing</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/premiere.svg" alt=""></div>
                        <div><h5>Premiere Pro</h5></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="skill-title-flex">
                <div class="title-hr"><hr></div>
                <div class="title"><h3>Front-End Development</h3></div>
                <div class="title-hr"><hr></div>
            </div>

            <h4>Languages</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/html5.svg" alt=""></div>
                        <div><h5>HTML</h5></div>
                    </div>
                </div>
                <div class="skill" data-aos="flip-left" data-aos-delay="200">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/css3.svg" alt=""></div>
                        <div><h5>CSS</h5></div>
                    </div>
                </div>
                <div class="skill" data-aos="flip-left" data-aos-delay="400">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/javascript.svg" alt=""></div>
                        <div><h5>JavaScript</h5></div>    
                    </div>
                </div>
            </div>

            <h4>Frameworks/Libraries</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/react.svg" alt=""></div>
                        <div><h5>React</h5></div>
                    </div>
                </div>
            </div>

            <h4>Styling & UI</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/scss.svg" alt=""></div>
                        <div><h5>SASS</h5></div>
                    </div>
                </div>

                <div class="skill" data-aos="flip-left" data-aos-delay="200">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/bootstrap.svg" alt=""></div>
                        <div><h5>Bootstrap</h5></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="skill-title-flex">
                <div class="title-hr"><hr></div>
                <div class="title"><h3>Back-End Development</h3></div>
                <div class="title-hr"><hr></div>
            </div>
            <h4>Languages</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/go.svg" alt=""></div>
                        <div><h5>Golang</h5></div>
                    </div>
                </div>
                <div class="skill" data-aos="flip-left" data-aos-delay="200">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/python.svg" alt=""></div>
                        <div><h5>Python</h5></div>
                    </div>
                </div>
                <div class="skill" data-aos="flip-left" data-aos-delay="400">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/php.svg" alt=""></div>
                        <div><h5>PHP</h5></div>
                    </div>
                </div>
            </div>

            <h4>Frameworks</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/django.svg" alt=""></div>
                        <div><h5>Django</h5></div>
                    </div>
                </div>
                <div class="skill" data-aos="flip-left" data-aos-delay="200">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/flask-dark.svg" alt=""></div>
                        <div><h5>Flask</h5></div>
                    </div>
                </div>
            </div>

            <h4>Database Management</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/sqlite.svg" alt=""></div>
                        <div><h5>SQLite</h5></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="skill-title-flex">
                <div class="title-hr"><hr></div>
                <div class="title"><h3>CMS & Web Design</h3></div>
                <div class="title-hr"><hr></div>
            </div>
            
            <h4>Platforms</h4>
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/wordpress.svg" alt=""></div>
                        <div><h5>WordPress</h5></div>
                    </div>
                </div>

                <div class="skill" data-aos="flip-left" data-aos-delay="200">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/elementor.svg" alt=""></div>
                        <div><h5>Elementor</h5></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="skill-title-flex">
                <div class="title-hr"><hr></div>
                <div class="title"><h3>Tools & Version Control</h3></div>
                <div class="title-hr"><hr></div>
            </div>
            
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/github.svg" alt=""></div>
                        <div><h5>Git</h5></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="skill-title-flex">
                <div class="title-hr"><hr></div>
                <div class="title"><h3>Project Management & Collaboration</h3></div>
                <div class="title-hr"><hr></div>
            </div>
            
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/trello.svg" alt=""></div>
                        <div><h5>Trello</h5></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="skill-title-flex">
                <div class="title-hr"><hr></div>
                <div class="title"><h3>Other Important Skills</h3></div>
                <div class="title-hr"><hr></div>
            </div>
            
            <div class="skills-grid">
                <div class="skill" data-aos="flip-left">
                    <div class="skill-content">
                        <div><img src="/static/img/index/icons/seo.svg" alt=""></div>
                        <div><h5>SEO Optimization</h5></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}