@import "variables";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

// General CSS
// html{
// 	overflow-x: hidden;
// }

body{
	background: $page-bg-color;
	font-family: $main-font;
	overflow-x: hidden;
	color: $text-color;
}

section{
	padding: 100px 0;
}

ul{
	list-style: none;
}

a{
	display: inline-block;
	text-decoration: none;
	color: aqua;
	transition: 0.5s;
}

.active{
	font-weight: 600;
	color: $header-text-color;
	transition: 0.5s;
}

button{
	@include btn-style;
}

.go-to-top{
	@include gotoup-btn-style;
}

img{
	margin: auto;
	max-width: 100%;
	display: block;
	height: auto;
}

.info-box{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	padding: 2rem 5rem;
	z-index: 20000;
	overflow-y: scroll;

	button{
		all: unset;
		margin-left: 95%;
		opacity: 100%;
		border-radius: 5px;
		cursor: pointer;
		
		i{
			border: 3px solid wheat;
			border-radius: 2rem;
			background-color: wheat;
			font-size: 2.5rem;
			color: #8E1616;
		}
	}

	.info-container{
		margin: 0 auto;
		margin-top: 2rem;
		padding: 50px;
		width: 90%;
		background-color: #fff;
		// background-color: #00000080;
		// backdrop-filter: blur(20px);
		border-radius: 2rem;
		color: #000;

		div{
			margin: 2rem 0;
		}

		h3{
			margin-bottom: 1rem;
			color: #8E1616;

			i{
				margin-right: 1rem;
			}
		}

		ul{
			list-style: disc;
			margin-left: 5rem;

			li{
				margin-bottom: 0.5rem;
			}
		}

		p{
			margin-left: 2.5rem;
			margin-bottom: 1rem;
		}
	}

	@media (max-width: $large-size) {
		padding: 3rem;

		.info-container{
			padding: 1rem 2rem;
			width: 95%;

			ul{
				margin-left: 3.5rem;
			}
		}
	}

	@media (max-width: $medium-size) {
		
	}

	@media (max-width: $small-size) {
		padding: 2rem;

		button{
			margin-left: 90%;
		}

		.info-container{
			width: 95%;
			border-radius: 1rem;

			h3{
				margin-bottom: 0.7rem;

				i{
					margin-right: 0.5rem;
				}
			}

			ul{
				margin-left: 3rem;
			}

			p{
				margin-left: 2rem;
			}
		}
	}

	@media (max-width: $phone-size) {
		padding: 1rem;

		button{
			margin-left: 85%;
		}

		.info-container{
			padding: 0.1rem 1rem;

			h3{
				font-size: 1.1rem;
			}

			ul{
				margin-left: 2.7rem;
			}

			p{
				margin-left: 1.8rem;
			}
		}
	}
}

