@import "variables";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

// General CSS
html{
	overflow-x: hidden;
}

body{
	background: $page-bg-color;
	font-family: $main-font;
	overflow-x: hidden;
	color: $text-color;
}

section{
	padding: 100px 0;
}

ul{
	list-style: none;
}

a{
	display: inline-block;
	text-decoration: none;
	color: aqua;
	transition: 0.5s;
}

.active{
	font-weight: 600;
	color: $header-text-color;
	transition: 0.5s;
}

button{
	@include btn-style;
}

.go-to-top{
	@include gotoup-btn-style;
}

img{
	margin: auto;
	max-width: 100%;
	display: block;
	height: auto;
}

