@import "variables";

.contact-banner{
    @include page-banner-style($contact-banner-img);

    .banner-text{
        h2{
            @include page-title-style;
        }
    }   
}

.contact-sec{
    @include page-bg-style();

    .contact-flex{
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 0;

        .map-child{
            position: relative;
            flex: 0.5;
            color: aqua; 
            border: 5px solid #fff;
            z-index: 0 !important;

            .map{
                position: relative;
                width: 100%;
                height: 100%;
                // z-index: 0 !important;
            }
        }

        .form-child{
            flex: 1.5;

            form{
                padding: 50px;
                border: 2px solid #fff;
                background-color: rgba($color: aqua, $alpha: 60%);
                background-blend-mode: overlay;

                div{
                    margin: 20px 0;
                }

                label{
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $dark-text-color;
                }

                input, textarea{
                    display: block;
                    margin-top: 0.4rem;
                    padding: 0.5rem;
                    width: 100%;
                    border-radius: 0.5rem;
                    color: #183B4E;
                    font-size: 1rem;
                }

                button{
                    color: #fff;
                }
            }
        }
    }
    
    .contact-info{
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        color: $header-bg-color;
        font-weight: 700;

        .info{
            padding: 20px;
            border: 2px solid #fff;
            border-radius: 5px;
            background-color: rgba($color: aqua, $alpha: 60%);
            background-blend-mode: overlay;
            text-align: center;

            a{
                color: $header-bg-color;
            }

            i{
                font-size: 2rem;
            }

            h3{
                margin-top: 10px;
            }
        }

        
    }
}

@media only screen and (max-width: 992px){
    
    .contact-info{
        margin: 30px 0;
        grid-gap: 10px;
        font-weight: 600;

        .info{
            padding: 15px;

            i{
                font-size: 2rem;
            }
        }

        
    }
}

@media only screen and (max-width: 768px){
    .contact-sec{
        .contact-flex{
            flex-direction: column;

            .map-child{

                .map{
                    width: 100%;
                    height: 300px;
                }
            }

            .form-child{

                form{
                    padding: 40px;

                    label{
                        font-size: 1rem;
                    }

                    input, textarea{
                        border-radius: 0.3rem;
                        font-size: 0.8rem;
                    }
                }
            }
        }
        
        .contact-info{
            margin-bottom: 0;
            .info{
                i{
                    font-size: 2rem;
                }
            }
        }
    }    
}

@media only screen and (max-width: 576px){
    .contact-sec{
        .contact-flex{

            .map-child{

                .map{
                    height: 200px;
                }
            }
        }
        
        .contact-info{
            grid-template-columns: repeat(1, 1fr);

            .info{
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 480px){

}