@import "variables";

.experiences-banner{
    @include page-banner-style($experiences-banner-img);

    .banner-text{
        h2{
            @include page-title-style;
        }
    }   
}

.experiences-sec{
    @include page-bg-style($experiences-bg-img);

    ul{
        list-style: disc;
        margin: 20px;

        li{
            margin: 10px 0;
        }
    }

    h4{
        text-align: center;
        margin-bottom: 10px;
    }

    .titles-flex{
        margin-bottom: 80px;
        display: flex;
        gap: 0px;
        justify-content: space-between;
        text-align: center;

        h3{
            font-size: 30px;
        }
    
        .education-title{
            width: 50%;
            color: #60B5FF;
        }
        
        .experience-title{
            width: 50%;
            color: #FCB454;
        }
    }

    .info-flex{
        display: flex;
        gap: 0px;
        margin-bottom: 50px;

        h3{
            margin-bottom: 5px;
        }

        .info-container{
            width: 51%;
            display: flex;
            gap: 0;

            .info-text{
                width: 55%;
                padding: 10px;
                border-radius: 10px;

                span{
                    display: none;

                    hr{
                        margin: 10px 0;
                    }
                    
                }

                h4{
                    font-size: 14px;
                    text-align: right;
                }
            }

            .education-info-text{
                border: 3px solid #60B5FF;
                background-color: #AFDDFF;
                color: $dark-text-color;

                h4{
                    color: #3A59D1;
                }
            }

            .experience-info-text{
                border: 3px solid #FCB454;
                background-color: #FFDDAB;
                color: #4E1F00;

                h4{
                    color: #A76545;
                }
            }

            .info-dot{
                width: 8%;
                margin-top: 10px;
                
                z-index: 2;

                img{
                    width: 40px;
                    height: auto;
                    border-radius: 40px;
                    background-color: #000;
                }

                .education-dot{
                    border: 3px solid #60B5FF;
                }

                .experience-dot{
                    border: 3px solid #FCB454;
                    margin-left: 14px;
                }
            }

            .info-line{
                width: 37%;

                hr{
                    width: 100%;
                }
            }

            .education-line{
                h4{
                    color: #60B5FF;
                }

                hr{
                    border: 3px solid #60B5FF;
                }
            }

            .experience-line{
                h4{
                    color: #FCB454;
                }

                hr{
                    border: 3px solid #FCB454;
                }
            }
        }

        .empty{
            width: 45%;
        }
    }
}

@media only screen and (max-width: $large-size){
    .experiences-sec{

        .titles-flex{
            h3{
                font-size: 25px;
            }
        }

        .info-flex{
            .info-container{
                width: 50%;

                .info-text{
                    width: 100%;

                    span{
                        display: block;                        
                    }
                }

                .info-dot{
                    display: none;
                }

                .info-line{
                    display: none;
                }
            }

            .empty{
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: $medium-size){
    .experiences-sec{

        .titles-flex{
            display: none;
        }

        .info-flex{
            flex-direction: column;
            .info-container{
                width: 100%;
            }

            .empty{
                width: 0%;
            }
        }
    }
}