@import "variables";

.projects-banner{
    @include page-banner-style($projects-banner-img);

    .banner-text{
        h2{
            @include page-title-style;
        }
    }  
}

.projects-sec{
    @include page-bg-style($projects-bg-img);

    h3{
        margin-bottom: 10px;
        padding: 10px 0;
        border-radius: 20px 50px 0px 0px;
        background-color: #60B5FF;
        font-size: 2rem;
        color: $dark-text-color;
        text-align: center;
    }
    
    h3:nth-last-of-type(2){
        background-color: #E69DB8;
    }

    h3:nth-last-of-type(1){
        background-color: #8E7DBE;
    }

    .projects-flex{
        display: flex;
        gap: 30px;
        margin-bottom: 80px;

        .colored-child{
            width: 1%;
            padding: 10px;
            border-radius: 0px 0px 0px 10px;
            background-color: #60B5FF;
            color: $dark-text-color;
        }

        .projects-grid{
            margin: 20px 10px;
            width: 99%;
            display: grid;
            grid-gap: 50px;
            grid-template-columns: repeat(2, 1fr);

            .project{
                border: 1px solid #fff;
                box-shadow: 2px 2px 5px #fff;

                img{
                    height: 250px;
                    width: 500px;
                };

                .project-info{
                    display: none;
                    width: 100%;
                    height: 250px;
                    padding: 30px;
                    text-align: center;
                    color: $dark-text-color;

                    h4{
                        padding: 5px;
                        border-radius: 10px;
                        box-shadow: 1px 1px 3px $dark-text-color;
                        background-color: $dark-text-color;
                        font-size: 1.5rem;
                        color: #fff;
                    }

                    i{
                        padding: 10px;
                        background-color: $dark-text-color;
                        border: 1px solid $dark-text-color;
                        border-radius: 20px;
                    }

                    ul{
                        list-style: disc;
                        margin: 20px 0 20px 40px;
                        text-align: left;
                    }
                }

                .project-info-fe{
                    background-color: #60B5FF;
                }

                .project-info-cms{
                    background-color: #E69DB8;
                }

                .project-info-be{
                    background-color: #8E7DBE;
                }

                &:hover{
                    transform: scale(1.1);
                    // height: 100%;

                    img{
                        display: none;
                    }

                    .project-info{
                        display: block;
                    }
                }

            }
        }
    }

    .projects-flex:nth-last-of-type(2){

        .colored-child{
            background-color: #E69DB8;
        }
    } 

    .projects-flex:nth-last-of-type(1){
        margin-bottom: 0;

        .colored-child{
            background-color: #8E7DBE;
        }
    } 
}

@media only screen and (max-width: $large-size){
    .projects-sec{
        h3{
            font-size: 1.4rem;
        }

        .projects-flex{
            gap: 15px;
            margin-bottom: 60px;

            .projects-grid{
                margin: 15px 7px;
                grid-gap: 30px;

                .project{
                    img{
                        height: 250px;
                    };
                }
            }
        }
    }
}

@media only screen and (max-width: $medium-size){
    .projects-sec{
        h3{
            font-size: 1.3rem;
        }

        .projects-flex{
            gap: 10px;
            margin-bottom: 40px;

            .projects-grid{
                margin: 10px 5px;
                grid-gap: 15px;

                .project{
                    img{
                        height: 200px;
                    };
                }
            }
        }
    }
}

@media only screen and (max-width: $small-size){
    .projects-sec{
        h3{
            font-size: 1.1rem;
        }

        .projects-flex{
            gap: 20px;

            .projects-grid{
                margin: 20px 15px;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 30px;

                .project{
                    img{
                        height: 250px;
                    };
                }
            }
        }
    }
}

@media only screen and (max-width: $phone-size){
    .projects-sec{
        h3{
            font-size: 1rem;
        }

        .projects-flex{
            gap: 15px;

            .projects-grid{
                grid-gap: 23px;

                .project{
                    img{
                        height: 200px;
                    };
                }
            }
        }
    }
}